@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #020d18;
    --foreground: #abb7c4;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --lemon-green: #dcf836;
    --light-blue: #0f2133;
    --pink: #dd003f;
    --sky-blue: #4280bf;
  }

}

@layer base {
  * {
    @apply border-border;
  }

  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-dosis), sans-serif;
  }

  a, p, span, h1, h2, h3, h4, h5, h6, label {
    font-size: 14px;
  }

  a:hover {
    color: #dcf836;
    transition: all 0.3s ease-in-out;
  }

  iframe {
    width: 100% !important;
  }

 input, select, textarea {
  font-family: var(--font-nunito), sans-serif;
 }


 button{
  @apply transition-all duration-500 ease-out;
 }

 .centralize{
   @apply flex justify-center items-center;
 }


}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
      display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .hide-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
  }


}

.slick-dots {
  position: initial !important;
  margin-left: 100px !important;
  width: auto !important;
}

.slick-dots.slick-dots-top {
  position: absolute !important;
  top: -20 !important; /* Position dots at the top */
  transform: translateX(-50%);
}

.slick-dots.slick-dots-bottom {
  position: initial !important;
  margin-left: 100px !important;
  width: auto !important;
}

.slick-dots li {
  margin: 0 !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;
  color: #dcf836 !important;
}

.slick-dots li button:before {
  font-size: 10px !important;
  color: white !important;
}

#search-form label {
  font-weight: bold;
  font-family: var(--font-dosis), sans-serif;
}

#search-form input, #search-form select, #search-form textarea {
  color: var(--foreground);
  background: #233a50;
  border: 1px solid var(--border);
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 12px;
  margin: 10px 0;
  height: 40px;
  width: 100%;
  outline: none;
}
